1º – Lista.

TIPOS PRIMITIVOS (10 exercícios)

In [ ]:
# 01). Crie uma variável nome e atribua seu nome a ela. Use type() para imprimir o tipo dessa variável.
nome = "Felix"
print(nome)
print(type(nome))

Felix
<class 'str'>

In [ ]:
# 02). Atribua um número inteiro à variável idade e exiba seu tipo.
idade = 40
print(idade)
print(type(idade))

40
<class 'int'>

In [ ]:
# 03). Crie uma variável altura com valor decimal (float) e mostre seu tipo.
altura = 1.65
print(type(altura))

<class 'float'>

In [ ]:
# 04). Atribua True a uma variável chamada maior_de_idade. Mostre o tipo dela.
maior_de_idade = True
print(type(maior_de_idade))

<class 'bool'>

In [ ]:
# 05). Crie quatro variáveis com os tipos str, int, float, bool. Mostre todas usando print() com f-string.
nome = "Felix"
idade = 30
altura = 1.65
verdade = True
print(f"{nome}, {idade}, {altura}, {verdade}")

Felix, 30, 1.65, True

In [ ]:
# 06). Faça um print com f-string dizendo: “João tem 25 anos, mede 1.75m e é maior de idade: True”.
nome = "Joao"
mede = 1.75
idade = 30
verdade = True
print(f"{nome} tem {idade} anos e mede {mede} de altura, é e maior de idade {verdade} ")

Joao tem 30 anos e mede 1.75 de altura, é e maior de idade True

In [ ]:
# 07). Crie duas variáveis com números e exiba a soma entre eles, mostrando o tipo do resultado.
num1 = 25
num2 = 35
soma = num1 + num2
print(soma)
print(type(soma))

60
<class 'int'>

In [ ]:
# 08). Converta um número inteiro para float e mostre o resultado.
numero_inteiro = 10
numero_float = float(numero_inteiro)
print(numero_float)

10.0

In [ ]:
# 09). Converta um valor booleano para string e mostre.
# Define um valor booleano
valor_booleano = True

# Converte o valor booleano para string
valor_string = str(valor_booleano)

# Mostra o resultado
print("O valor convertido para string é:", valor_string)

True

In [ ]:
# 10). Multiplique um número float por um inteiro. Exiba o resultado e o tipo.
numero_float = 10.0
numero_inteiro = 4
resultado = numero_float * numero_inteiro
print(resultado)

40.0