6º – Lista

Parte 4 – Misturando Tudo (30 exercícios)

01). Receba o nome, idade e peso. Mostre tudo em uma frase.

In [ ]:
nome = "Felix"
idade = 60
peso = 61
print(f"Seu nome é {nome}, você tem {idade} anos, seu peso é {peso} kg")

Seu nome é Felix, você tem 60 anos, seu peso é 61 kg

02). Receba 2 números e mostre todas as operações entre eles.

In [ ]:
# COM ERRO
num1 = float(input("Digite um numero: "))
num2 = float(input("Digite outro numero:"))

soma = num1 + num2
subtracao = num1 - num2
multiplicacao = num1 * num2

if num2 != 0:
  divisao = num1 / num2
  divisao_inteira = num1 // num2
  resto = num1 % num2
  # Exibe os resultados
  print(f"soma {soma}")
  print(f"subtração {subtracao}")
  print(f"multiplicação {multiplicacao}")
  print(f"divisão {divisao}")
  print(f"divisão_inteira {divisao_inteira}")
  print(f"resto da divisao {resto}")

else:
  divisao = "Indefinida (divisao por zero)"
  divisao_inteira = "Indefinida"
  resto = "Indefinido"
  # Exibe os resultados (para o caso de divisão por zero)
  print(f"soma {soma}")
  print(f"subtração {subtracao}")
  print(f"multiplicação {multiplicacao}")
  print(f"divisão {divisao}")
  print(f"divisão_inteira {divisao_inteira}")
  print(f"resto da divisao {resto}")

Digite um numero: 10
Digite outro numero:20
soma 30.0
subtração -10.0
multiplicação 200.0
divisão 0.5
divisão_inteira 0.0
resto da divisao 10.0

03). Crie um sistema que receba 2 notas e diga se foi aprovado (média ≥ 7).

In [ ]:
nota1 = float(input("Digite a primeira nota: "))
nota2 = float(input("Digite a segunda nota: "))
media = (nota1 + nota2) / 2
if media >= 7:
  print("Aluno: APROVADO")
else:
  print("Aluno: REPROVADO")

Digite a primeira nota: 9.0
Digite a segunda nota: 8.6
Aluno: APROVADO

04). Receba o nome e a idade. Diga quantos anos terá em 10 anos

In [ ]:
nome = str(input("Digite seu nome: "))
idade = int(input("Digite sua idade: "))
idade = idade + 10
print(f"{nome}, Daqui a dez anos você tera: {idade} anos.")

Digite seu nome: felix
Digite sua idade: 60
felix, Daqui a dez anos você tera: 70 anos.

05). Receba a temperatura em Celsius e converta para Fahrenheit.

In [ ]:
# Use a formula (0 °C x 9/5) + 32 = 32°F))
celsius = float(input("Digite a temperatura em graus Celsius: "))
fahrenheit = (celsius * 9/5) + 32
print(f"{celsius}°C é equivalente a {fahrenheit}ºF")

Digite a temperatura em graus Celsius: 30
30.0°C é equivalente a 86.0ºF

06). Faça uma calculadora de aumento de salário.

In [ ]:
salario = float(input("Digite seu salario R$ "))
novo_salario = salario * 1.10
print(f"Salario atual {salario} Seu novo salario é: {novo_salario}")

Digite seu salario R$ 1000
Salario atual 1000.0 Seu novo salario é: 1100.0

07). Faça um script que calcule o troco de uma compra.

In [ ]:
preco = float(input("Digite o valor do produto (R$): "))
valor_pago = float(input("Digite o valor pago pelo cliente (R$: "))
troco = valor_pago - preco
if troco > 0:
  print(f"O troco é R$ {troco:.2f}")
elif troco == 0:
  print("Pagamnento exato. Não a troco. ")
else:
  print(f"Faltam R$ {abs(troco):.2f} para completar o pagamento.") # abs(troco): garante que o número mostrado seja positivo, mesmo que troco seja negativo.

Digite o valor do produto (R$): 105
Digite o valor pago pelo cliente (R$: 58
Faltam R$ 47.00 para completar o pagamento.

08). Receba o nome do aluno e a média, e diga se foi aprovado.

In [ ]:
nome = str(input("Digite seu nome: "))
nota = float(input("Digite a nota do aluno: "))
media = nota
if nota >= 5:
  print(f"{nome} Você foi: APROVADO")
else:
  print(f"{nome} Você foi: REPROVADO")

Digite seu nome: Felix
Digite a nota do aluno: 5.1
Felix Você foi: APROVADO

09). Peça o valor de um aluguel e o número de meses. Calcule o total.

In [ ]:
valor_aluguel = float(input("Digite o valor do aluguel (R$): "))
meses = int(input("Digite o número de meses: "))
valor_total = valor_aluguel * meses
print(f"O valor total a pagar por {meses} meses de aluguel, sera de R$ {valor_total:.2f}")

Digite o valor do aluguel (R$): 1200
Digite o número de meses: 8
O valor total a pagar por 8 meses de aluguel, sera de R$ 9600.00

10). Receba dois números e diga qual é o maior.

In [39]:
num1 = int(input("Digite um número: "))
num2 = int(input("Digite outro número: "))

if num1 > num2:
  print(f"O número {num1} é o maior")
elif num2 > num1:
  print(f"número {num2} é o maior")
else:
  print("Os dois numeros sâo iguais. ")

Digite um número: 10
Digite outro número: 30
número 30 é o maior