3º – Lista

Tipos primários, operadores numéricos, entrada e saída de dados

Parte 1 – Tipos Primitivos (20 exercícios)

In [ ]:
# Treinar o reconhecimento, a conversão e o uso correto dos tipos int, float, str, bool.
# 1). Mostre na tela o tipo do valor 123.
valor = 123
print(type(valor))

<class 'int'>

In [ ]:
# 02). Mostre na tela o tipo do valor "Olá mundo".
saudacao = "Ola, mundo"
print(type(saudacao))

<class 'str'>

In [ ]:
# 03). Mostre na tela o tipo do valor True.
valor = True
print(type(valor))

<class 'bool'>

In [ ]:
# 04). Mostre na tela o tipo do valor 3.14.
valor = 3.14
print(type(valor))

<class 'float'>

In [ ]:
# 05). Use o input() para receber o nome de uma pessoa e mostre seu tipo.
nome = str(input("Digite um nome: "))
print(type(nome))

Digite um nome: Felix
<class 'str'>

In [ ]:
# 06). Receba um número do usuário e diga se é int ou str.
num = int(input("Digite um numero: "))
print(type(num))

Digite um numero: 21
<class 'int'>

In [ ]:
# 07). Converta o número 5 para float e mostre na tela.
numero = 5
numero_float = float(numero)
print(numero_float)

<class 'float'>

In [ ]:
numero = 5
numero_float = float(numero)
print(numero_float)

In [ ]:
# 08). Converta o valor "9.5" para float e imprima.
valor = "9.5"
valor_float = float(valor)
print(valor_float)

9.5

In [ ]:
# 09). Converta o número 3.14 para inteiro.
numero = 3.14
numero_inteiro = int(numero)
print(numero_inteiro)

3

In [ ]:
# 10). Converta a string "True" para bool usando bool().
valor = "True"
valor_booleano = bool(valor)
print(valor_booleano)

True